$red: rgb(216, 36, 45);
$primary: $red;

@import "./node_modules/bootstrap/scss/bootstrap";
// Required
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

body {
  background: url('./images/berlin.png') no-repeat bottom center;
}

header {
  padding: 15px;
}

.logo {
  width: 100px;
}

.sport-font {
  font-family: 'Octin Prison Free', arial;
}

.main-title {
  font-family: 'Odibee Sans', cursive;
  font-size: 3em;
}

.language {
  list-style: none;
  display: flex;
}

.language__option {
  margin-right: 20px;

  img {
    height: 50px;
  }
}

.jumbotron {
  background-color: inherit;
  border-bottom: 1px solid $secondary;
  padding: 33px;
}

.jumbotron-image {
  width: 90%;
  float: right;
}

footer {
  color: white;
  padding-top: 300px;
  font-family: 'Odibee Sans', cursive;
  font-size: 2em;

}

.thstyle {
  font-size: 30px;
  color: white;
  background: rgb(216, 36, 45);
  // padding-top: 20px;
}

.tdstyle {
  font-size: 20px;
  background: rgb(226, 221, 221);
  font-weight: bold;
  border-color: white;
  // border-radius: 2px;
  // margin: 2px;
}